<h1>Products Index</h1>

<% @products.each do |product| %>
  <h2><a href="/client/products/<%= product["id"] %>"><%= product["name"] %></a></h2>
  <h4>Description: <%= product["description"] %></h4>
  <h5>Price: <%= product["price"] %></h5>

<% end %>